<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.vickychijwani.kotlinkoans"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KotlinKoansApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".KoanActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.settings.SettingsActivity"
            android:parentActivityName=".KoanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KoanActivity"/>
        </activity>

        <activity
            android:name=".features.about.AboutActivity"
            android:parentActivityName=".KoanActivity"
            android:theme="@style/CardListActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KoanActivity"/>
        </activity>

        <activity
            android:name=".features.about.OpenSourceLibsActivity"
            android:parentActivityName=".features.about.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.about.AboutActivity"/>
        </activity>

    </application>

</manifest>
